<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- For responsive web-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="static/css/theme.css" rel="stylesheet">
    </head>

    <body>
        <span class="border-top-0">
            <nav class="navbar navbar-expand-lg mb-lg-4 justify-content-between" id="navbar">
                <a class="navbar-brand ml-lg-4" href="#">
                    <img src="static/img/logo.png" alt="human-for-hire">
                </a>

                <form class="form-inline">
                    <input class="form-control mr-lg-2" type="text" placeholder="Search" aria-label="Search" id="navBarSearchForm">
                </form>

                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="#"><img src="static/img/user.png" alt="User"></a>
                    </li>
                    <li>
                        <a class="nav-link" href="#"><img src="static/img/carts.png" alt="User"></a>
                    </li>
                </ul>
            </nav>
        </span>

        <div class="container">
    		<div class="row">
    			<div class="card-columns ">
    				<div class="card bg-light">
    					<div class="card-header">
    						<div class="card-name">โอฬาร สงวนประสิทธิ์</div>
    						<ul class="nav nav-tabs card-header-tabs">
    					      	<li class="nav-item">
    					        	<a class="nav-link active" href="#">General</a>
    					      	</li>
    					      	<li class="nav-item">
    					        	<a class="nav-link" href="#">Log</a>
    					      	</li>
    					    </ul>
                        </div>
    				  	<img class="card-img-top" src="static/img/j.jpg" alt="Card image cap">
    				  	<div class="card-body">
    				    	<div class="card-job">Enter main job</div>
    				    	<p class="card-text ">Enter descriptions</p>
                            <div class="text-right">
                                <a href="#" class="btn btn-success card-btn">Detail</a>
                            </div>
                        </div>
    					<div class="card-footer text-muted">
    						Last update : 2 days ago
    					</div>
    				</div>

                    <div class="card bg-light">
    					<div class="card-header">
    						<div class="card-name">นิติ สันติกุล</div>
    						<ul class="nav nav-tabs card-header-tabs">
    					      	<li class="nav-item">
    					        	<a class="nav-link active" href="#">General</a>
    					      	</li>
    					      	<li class="nav-item">
    					        	<a class="nav-link" href="#">Log</a>
    					      	</li>
    					    </ul>
                        </div>
    				  	<img class="card-img-top" src="static/img/kanoon.jpg" alt="Card image cap">
    				  	<div class="card-body">
    				    	<div class="card-job">Enter main job</div>
    				    	<p class="card-text ">Enter descriptions</p>
                            <div class="text-right">
                                <a href="#" class="btn btn-success card-btn">Detail</a>
                            </div>
                        </div>
    					<div class="card-footer text-muted">
    						Last update : 2 days ago
    					</div>
    				</div>

                    <div class="card bg-light">
    					<div class="card-header">
    						<div class="card-name">กฤษณะ ฉายแก้ว</div>
    						<ul class="nav nav-tabs card-header-tabs">
    					      	<li class="nav-item">
    					        	<a class="nav-link active" href="#">General</a>
    					      	</li>
    					      	<li class="nav-item">
    					        	<a class="nav-link" href="#">Log</a>
    					      	</li>
    					    </ul>
                        </div>
    				  	<img class="card-img-top" src="static/img/bank.jpg" alt="Card image cap">
    				  	<div class="card-body">
    				    	<div class="card-job">Enter main job</div>
    				    	<p class="card-text ">Enter descriptions</p>
                            <div class="text-right">
                                <a href="#" class="btn btn-success card-btn">Detail</a>
                            </div>
                        </div>
    					<div class="card-footer text-muted">
    						Last update : 2 days ago
    					</div>
    				</div>

                    <div class="card bg-light">
    					<div class="card-header">
    						<div class="card-name">สารัช</div>
    						<ul class="nav nav-tabs card-header-tabs">
    					      	<li class="nav-item">
    					        	<a class="nav-link active" href="#">General</a>
    					      	</li>
    					      	<li class="nav-item">
    					        	<a class="nav-link" href="#">Log</a>
    					      	</li>
    					    </ul>
                        </div>
    				  	<img class="card-img-top" src="static/img/max.jpg" alt="Card image cap">
    				  	<div class="card-body">
    				    	<div class="card-job">Enter main job</div>
    				    	<p class="card-text ">Enter descriptions</p>
                            <div class="text-right">
                                <a href="#" class="btn btn-success card-btn">Detail</a>
                            </div>
                        </div>
    					<div class="card-footer text-muted">
    						Last update : 2 days ago
    					</div>
    				</div>

                    <div class="card bg-light">
    					<div class="card-header">
    						<div class="card-name">เชลโล่</div>
    						<ul class="nav nav-tabs card-header-tabs">
    					      	<li class="nav-item">
    					        	<a class="nav-link active" href="#">General</a>
    					      	</li>
    					      	<li class="nav-item">
    					        	<a class="nav-link" href="#">Log</a>
    					      	</li>
    					    </ul>
                        </div>
    				  	<img class="card-img-top" src="static/img/cello.jpg" alt="Card image cap">
    				  	<div class="card-body">
    				    	<div class="card-job">Enter main job</div>
    				    	<p class="card-text ">Enter descriptions</p>
                            <div class="text-right">
                                <a href="#" class="btn btn-success card-btn">Detail</a>
                            </div>
                        </div>
    					<div class="card-footer text-muted">
    						Last update : 2 days ago
    					</div>
    				</div>

                    <div class="card bg-light">
    					<div class="card-header">
    						<div class="card-name">อาย</div>
    						<ul class="nav nav-tabs card-header-tabs">
    					      	<li class="nav-item">
    					        	<a class="nav-link active" href="#">General</a>
    					      	</li>
    					      	<li class="nav-item">
    					        	<a class="nav-link" href="#">Log</a>
    					      	</li>
    					    </ul>
                        </div>
    				  	<img class="card-img-top" src="static/img/eye.jpg" alt="Card image cap">
    				  	<div class="card-body">
    				    	<div class="card-job">Enter main job</div>
    				    	<p class="card-text ">Enter descriptions</p>
                            <div class="text-right">
                                <a href="#" class="btn btn-success card-btn">Detail</a>
                            </div>
                        </div>
    					<div class="card-footer text-muted">
    						Last update : 2 days ago
    					</div>
    				</div>

                    <div class="card bg-light">
    					<div class="card-header">
    						<div class="card-name">กราฟ</div>
    						<ul class="nav nav-tabs card-header-tabs">
    					      	<li class="nav-item">
    					        	<a class="nav-link active" href="#">General</a>
    					      	</li>
    					      	<li class="nav-item">
    					        	<a class="nav-link" href="#">Log</a>
    					      	</li>
    					    </ul>
                        </div>
    				  	<img class="card-img-top" src="static/img/graph.jpg" alt="Card image cap">
    				  	<div class="card-body">
    				    	<div class="card-job">Enter main job</div>
    				    	<p class="card-text ">Enter descriptions</p>
                            <div class="text-right">
                                <a href="#" class="btn btn-success card-btn">Detail</a>
                            </div>
                        </div>
    					<div class="card-footer text-muted">
    						Last update : 2 days ago
    					</div>
    				</div>

                    <div class="card bg-light">
    					<div class="card-header">
    						<div class="card-name">J</div>
    						<ul class="nav nav-tabs card-header-tabs">
    					      	<li class="nav-item">
    					        	<a class="nav-link active" href="#">General</a>
    					      	</li>
    					      	<li class="nav-item">
    					        	<a class="nav-link" href="#">Log</a>
    					      	</li>
    					    </ul>
                        </div>
    				  	<img class="card-img-top" src="static/img/jhead.jpg" alt="Card image cap">
    				  	<div class="card-body">
    				    	<div class="card-job">Enter main job</div>
    				    	<p class="card-text ">Enter descriptions</p>
                            <div class="text-right">
                                <a href="#" class="btn btn-success card-btn">Detail</a>
                            </div>
                        </div>
    					<div class="card-footer text-muted">
    						Last update : 2 days ago
    					</div>
    				</div>

                    <div class="card bg-light">
    					<div class="card-header">
    						<div class="card-name">ภิญญาพร เอี่ยมมงคล</div>
    						<ul class="nav nav-tabs card-header-tabs">
    					      	<li class="nav-item">
    					        	<a class="nav-link active" href="#">General</a>
    					      	</li>
    					      	<li class="nav-item">
    					        	<a class="nav-link" href="#">Log</a>
    					      	</li>
    					    </ul>
                        </div>
    				  	<img class="card-img-top" src="static/img/mameaw.jpg" alt="Card image cap">
    				  	<div class="card-body">
    				    	<div class="card-job">Enter main job</div>
    				    	<p class="card-text ">Enter descriptions</p>
                            <div class="text-right">
                                <a href="#" class="btn btn-success card-btn">Detail</a>
                            </div>
                        </div>
    					<div class="card-footer text-muted">
    						Last update : 2 days ago
    					</div>
    				</div>

                    <div class="card bg-light">
    					<div class="card-header">
    						<div class="card-name">ตะวัน</div>
    						<ul class="nav nav-tabs card-header-tabs">
    					      	<li class="nav-item">
    					        	<a class="nav-link active" href="#">General</a>
    					      	</li>
    					      	<li class="nav-item">
    					        	<a class="nav-link" href="#">Log</a>
    					      	</li>
    					    </ul>
                        </div>
    				  	<img class="card-img-top" src="static/img/tawan.jpg" alt="Card image cap">
    				  	<div class="card-body">
    				    	<div class="card-job">Enter main job</div>
    				    	<p class="card-text ">Enter descriptions</p>
                            <div class="text-right">
                                <a href="#" class="btn btn-success card-btn">Detail</a>
                            </div>
                        </div>
    					<div class="card-footer text-muted">
    						Last update : 2 days ago
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="static/js/bootstrap.min.js"></script>
    </body>

</html>
