<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- For responsive web-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="static/css/theme.css" rel="stylesheet">
    </head>

    <body>
        <span class="border-top-0">
        <nav class="navbar navbar-expand-lg navbar-light justify-content-between" id="navbar">
            <a class="navbar-brand ml-lg-4" href="#">
                <img src="static/img/logo.png" alt="human-for-hire">
            </a>

            <form class="form-inline">
                <input class="form-control mr-lg-2" type="text" placeholder="Search" aria-label="Search" id="navBarSearchForm">
            </form>

            <ul class="navbar-nav">
                <li>
                    <a class="nav-link" href="#"><img src="static/img/user.png" alt="User"></a>
                </li>
                <li>
                    <a class="nav-link" href="#"><img src="static/img/carts.png" alt="User"></a>
                </li>
            </ul>
        </nav>
        </span>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="static/js/bootstrap.min.js"></script>
    </body>

</html>
