<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- For responsive web-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="static/css/theme.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light justify-content-between" style="background-color: #FFFFFF;">
            <a class="navbar-brand" href="#">
                <img src="static/img/logo.png" alt="human-for-hire">
            </a>
            <form class="form-inline">
                <input class="form-control mr-lg-2" type="text" placeholder="Search" aria-label="Search" id="navBarSearchForm">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Carts</a>
                </li>
            </ul>
        </nav>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="static/js/bootstrap.min.js"></script>
    </body>

</html>
