{% extends 'hello/base.html' %}
{% load widget_tweaks %}

{% block content %}
<h3>Change Password</h3>
<form method="post" class="col-lg-8">
    {% csrf_token %}
    {% for field in form %}
        <div class="control-group {%if field.errors %}error{%endif%}">
            <div class="input-group">
                <label class="input-group-addon" id="{{field.label|safe}}">{{ field.label }}</label>
                {% render_field field type="text" class="form-control" placeholder="" aria-describedby="field.label|safe" %}
            </div>
            {% for error in field.errors %}
                 <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                 </div>
            {% endfor %}

            {% if field.help_text %}
                <p class="help-inline">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
        <br>
    {% endfor %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <p class="{{ message.tags }} error-message" >{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %}
    <button class="btn btn-success" type="submit">Submit</button>
</form>
{% endblock %}