{% extends 'hello/base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Change Password</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <p class="{{ message.tags }} error-message" >{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %}
        <button type="submit">Submit</button>
    </form>
    
</div>
{% endblock %}