{% extends 'hello/base.html' %}
{% load static %}

{% block content %}

<div class="row justify-content-md-center">
  <form method="post" action="{% url 'userprofile:edit_profile' %}" enctype="multipart/form-data" class="col col-lg-6">
    <h3>Edit Profile</h3><br>

    {% for e in error %}
    <p class='error'>{{ e }}</p><br>
    {% endfor %}

    {% csrf_token %}
    <div class="form-row"><br>
      <div class="form-group col-lg-6">
        <label class="form-control-label" for="firstname">First Name</label>
        <input class="form-control" id="firstname" type="text" name="firstname" value="{{firstname}}"/>
      </div>

      <div class="form-group col-lg-6">
        <label class="form-control-label" for="lastname">Last Name</label>
        <input class="form-control" id="lastname" type="text" name="lastname" value="{{lastname}}"/>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="address">Address</label>
      <textarea class="form-control" id="address" name="address"/>{{address}}</textarea>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="telephone">Telephone</label>
      <input class="form-control" id="telephone" type="text" name="telephone" value="{{telephone}}" maxlength="10" onkeypress="return isNumberKey(event)"/>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="email">Email Address</label>
      <input class="form-control" id="email" type="text" name="email" value="{{email}}"/>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="payment">Credit/Debit Card</label>
      <input class="form-control" id="card" type="text" name="card" value="{{card}}" maxlength="16" inputmode="numeric" onkeypress="return isNumberKey(event)"/>
    </div>
    
    <div class="form-group">
        <label class="form-control-label" for="payment">Bank Account</label>
        <input class="form-control" id="bank" type="text" name="bank" maxlength="10" value="{{bank}}" inputmode="numeric" onkeypress="return isNumberKey(event)"/>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="birthday">Birthday</label>
      <div class="form-date date input-group ">
        <input class="form-control" type="text" name="birthday" value="{{birthday|date:'c'}}">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="profile_image">Picture</label>
      <div class="input-group">
        <input type="file" class="custom-file-input" name="profile_image" aria-describedby="fileHelp">
        <span class="custom-file-control form-control-file" id="profile_image"></span>
      </div>
    </div>

    <div class="form-group">
      <p><a href="{% url 'userprofile:change_password' %}">Change password</a></p>
    </div>

    <div class="form-group"><br>
      <center><button class="red-long-btn" type="submit" value="Register">SUBMIT</button></center>
    </div>
  </form>
</div>

<script src="{% static "hello/js/datetime.js" %}"></script>
<script src="{% static "userprofile/js/form-validation.js" %}"></script>

{% endblock %}
