{% extends 'hello/base.html' %}
{% load widget_tweaks %}

{% block content %}
<h3>Edit Profile</h3>
<form method="post" class="col col-lg-5">
    {% csrf_token %}
    {% if form.non_field_errors %}
	    <ul>
			{% for error in form.non_field_errors %}
				<li>{{ error }}</li>
			{% endfor %}
	    </ul>
	{% endif %}
    {% for field in form %}
		<div id="{{ field.auto_id }}_container form-group">
			{{ field.help_text }}
			<label class="form-control-label" for="id_{{ field.name }}">
				{{ field.label }}
			</label>
			 {{ field|add_class:"form-control" }}
			<div id="{{ field.auto_id }}_errors">
				{{ field.errors }}
			</div>
		</div>
	{% endfor %}
    <!-- {{ form.as_p }} -->
    <p><a href="{% url 'userprofile:change_password' %}">Change password</a></p>
    <button class="btn btn-info" type="submit">Submit</button>
</form>
{% endblock %}