{% extends 'hello/base.html' %}

{% block content %}
<div class="row">
    <br><br>
    <div class="col-12 col-md-4">
        <img class="img" src="{{ user.profile.image.url }}" width="350">
        <br><br>
        <center><a class="btn btn-info hh-btn" role="button" href="/userprofile/profile/edit">Edit</a></center>
    </div>
    <div class="col-12 col-md-8">
        <h2>{{ user.first_name }} {{ user.last_name }}, {{ age }}</h2>
        <div class="username">( {{ user }} )</div>
        {% if user.profile.sell_rating or user.profile.buy_rating %}
        <hr>
        {% if user.profile.sell_rating %}
        <span class="rate-type"><b>Seller Rate:</b></span>
        {% for i in sell_star %}
            {% if i == 1 %}
                <span class="star-icon full">★</span>
            {% elif i == 0.5 %}
                <span class="star-icon half">★</span>
            {% else %}
                <span class="star-icon">★</span>
            {% endif %}
        {% endfor %}
        <span class="rate-type">({{ user.profile.sell_rating|floatformat:2 }})</span>
        <br>
        {% endif %}
        {% if user.profile.buy_rating %}
        <span class="rate-type"><b>Buyer Rate:</b></span>
        {% for i in buy_star %}
            {% if i == 1 %}
                <span class="star-icon full">★</span>
            {% elif i == 0.5 %}
                <span class="star-icon half">★</span>
            {% else %}
                <span class="star-icon">★</span>
            {% endif %}
        {% endfor %}
        <span class="rate-type">({{ user.profile.buy_rating|floatformat:2 }})</span>
        <br><hr>
        {% endif %}
        {% else %}
        <hr>
        {% endif %}
        <div class="row" style="height:40px">
            <div class="col-sm-3"><b>Email:</b></div>
            <div class="col-sm-9">{{ user.email }}</div>
        </div>
        <div class="row" style="height:40px">
            <div class="col-sm-3"><b>Address:</b></div>
            <div class="col-sm-9">{{ user.profile.address }}</div>
        </div>
        <div class="row" style="height:40px">
            <div class="col-sm-3"><b>Gender:</b></div>
            <div class="col-sm-9">{{ user.profile.get_gender_display }}</div>
        </div>
        <div class="row" style="height:40px">
            <div class="col-sm-3"><b>Tel:</b></div>
            <div class="col-sm-9">{{ user.profile.telephone }}</div>
        </div>
        <div class="row" style="height:40px">
            <div class="col-sm-3"><b>Birthday:</b></div>
            <div class="col-sm-9">{{ user.profile.birthday|date:'d M y'}}</div>
        </div>
        <div class="row" style="height:40px">
            <div class="col-sm-3"><b>Credit/Debit Card:</b></div>
            <div class="col-sm-9">{{ user.profile.card }}</div>
        </div>
        <div class="row" style="height:40px">
            <div class="col-sm-3"><b>Bank Account:</b></div>
            <div class="col-sm-9">{{ user.profile.bank }}</div>
        </div><hr>
    </div>
</div>
{% endblock %}
