{% extends 'hello/base.html' %}

{% block content %}
<div class="row">
    <br><br>
    <div class="col-12 col-md-4">
        <img class="img" src="{{ user.profile.image.url }}" width="350">
        <br><br>
        <center><a class="btn btn-info hh-btn" role="button" href="/userprofile/profile/edit">Edit</a></center> 
    </div>
    <div class="col-12 col-md-8">
        <h2>{{ user.first_name }}  {{ user.last_name }}, {{ age }}</h2>
        <div class="username">( {{ user }} )</div> </br>
        <br>
        seller rate: ★★★☆☆ (3)</br>
        buyer rate: ★★★☆☆ (3)</br></br></br>
        <div class="row" style="height:40px">
            <div class="col-sm-3"><b>Email:</b></div>
            <div class="col-sm-9">{{ user.email }}</div>
        </div>
        <div class="row" style="height:40px">
            <div class="col-sm-3"><b>Address:</b></div>
            <div class="col-sm-9">{{ user.profile.address }}</div>
        </div>
        <div class="row" style="height:40px">
            <div class="col-sm-3"><b>Gender:</b></div>
            <div class="col-sm-9">{{ user.profile.get_gender_display }}</div>
        </div>
        <div class="row" style="height:40px">
            <div class="col-sm-3"><b>Tel:</b></div>
            <div class="col-sm-9">{{ user.profile.telephone }}</div>
        </div>
        <div class="row" style="height:40px">
            <div class="col-sm-3"><b>Birthday:</b></div>
            <div class="col-sm-9">{{ user.profile.birthday }}</div>
        </div>
        <div class="row" style="height:40px">
            <div class="col-sm-3"><b>Bank Account:</b></div>
            <div class="col-sm-9">{{ user.profile.bankaccount }}</div>
        </div>
    </div>
</div>
{% endblock %}
