{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- For responsive web-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Human for Hire</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "hello/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "hello/css/theme.css"%}">
    <script src="{% static "hello/js/jquery-3.2.1.min.js" %}" ></script>
    <script src="{% static "hello/js/popper.min.js" %}" ></script>
    <script src="{% static "hello/js/bootstrap.min.js" %}" ></script>
    <link rel="stylesheet" href="{% static "hello/style/style.css" %}" />

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="{% static "hello/js/search-tag.js" %}" ></script>
    <script src="{% static "hello/js/autocomplete.js" %}" ></script>
</head>

<body>
	{% include "hello/navbar.html" %}

    <div class="container" id="container-hh">
      {% block content %}
	    {% endblock %}
    </div>
</body>
</html>
