{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- For responsive web-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Human for Hire</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "hello/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "hello/css/theme.css"%}">
    <script src="{% static "hello/js/jquery-3.2.1.min.js" %}" ></script>
    <script src="{% static "hello/js/popper.min.js" %}" ></script>
    <script src="{% static "hello/js/bootstrap.min.js" %}" ></script>
    <link rel="stylesheet" href="{% static "hello/style/style.css" %}"
</head>

<body>
	{% include "hello/navbar.html" %}

    <div class="container" id="container-hh">
      {% block content %}
	    {% endblock %}
    </div>
</body>
</html>
