{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Human for Hire</title>

    <link rel="stylesheet" href="{% static "hello/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" href="{% static "hello/style/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "hello/css/theme.css"%}">
    <script src="{% static "hello/js/jquery-3.2.1.min.js" %}" ></script>
    <script src="{% static "hello/js/popper.min.js" %}" ></script>
    <script src="{% static "hello/js/bootstrap.min.js" %}" ></script>
    <link rel="stylesheet" href="{% static "hello/style/style.css" %}" />

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="{% static "hello/css/bootstrap-datetimepicker.min.css" %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static "hello/js/bootstrap-datetimepicker.js" %}"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
</head>

<body>
	{% include "hello/navbar.html" %}

    <div class="container" id="container-hh">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
