{% extends 'hello/base.html' %}
{% load mathfilters %}

{% block content %}

<div id="index-headline">
	<h1>Find a worker.</h1>
</div>

<form id="post-form" action="{% url 'hello:index' %}" method="post" enctype="multipart/form-data" class="col-lg-12">
	<div class="form-row">
		{% csrf_token %}
		<div class="form-group col-lg-1">
			<label for="Gender">Gender</label>
			<select class="form-control" type="text" name="gender" id="gender">
				<option></option>
				<option>male</option>
				<option>female</option>
			</select>
		</div>

		<div class="form-group col-lg-2">
			<label class="form-control-label">Age</label>
			<input class="form-control" type="text" name="first_age" id="first_age" placeholder="Enter first age" style="width:150px">
			<input class="form-control" type="text" name="end_age" id="end_age" placeholder="Enter end age" style="width:150px">
		</div>

		<div class="form-group col-lg-4">
			<label class="form-control-label">Date</label>
			<input class="form-control" type="datetime-local" name="first_date" id="first_age" placeholder="Enter first date">
			<input class="form-control" type="datetime-local" name="end_date" id="end_age" placeholder="Enter end date">
		</div>

		<div id="myDIV" class="ui-widget form-group col-lg-2">
			<label class="form-control-label">Tag</label><br>
			<span>
				<input class="form-control" type="text" name="tag" id="tagInput" placeholder="Tag">
				<button onclick="newElement()" id="mark_as_done" type='button' class="btn hh-btn">Add</button>
			</span>
		</div>

		<div id="tags">
		</div>

		<div class="form-group col-lg-2">
			<button id="mark_as_done" class="btn btn-lg btn-outline-success hh-btn" type="submit" value="Search">Search</button>
		</div>
	</div>
</form>

<script>
	$(function() {
		$("#tagInput").autocomplete({
			source: "/get_tags/",
			minLength: 2,
		});
	});
</script>

<script>
	var tags = {};
	var list = [];


// Create a new list item when clicking on the "Add" button
	function newElement() {
		var inputValue = document.getElementById("tagInput").value;

		if (inputValue === '') {
			alert("You must write something!");
		} else if (!list.includes(inputValue)) {
			list.push(inputValue);
		} else {
			alert("tag is added!");
		}

		document.getElementById("tagInput").value = "";
		render();
	}

	function delElement(obj) {
		var id = obj.id;

		list.splice(id, 1);
		render();
	}

	function render() {
		document.getElementById("tags").innerHTML = "";

		for (var i=0; i<list.length; i++) {
			var tag = list[i];
			var div = document.createElement("div");
			var a = document.createElement("a");
			var t = document.createTextNode(tag);

			a.role = "button"
			a.href = "/tags/"+tag+"/";
			a.className = "btn btn-light btn-sm";
			a.appendChild(t);

			div.appendChild(a);

			var span = document.createElement("SPAN");
			var txt = document.createTextNode("\u00D7");

			span.id = i;
			span.appendChild(txt);
			span.onclick = function() {delElement(this);};
			div.appendChild(span);
			document.getElementById("tags").appendChild(div);
		}
	}
// TODO: send list to views.py
</script>

<dt class="recent"><strong>recent posts</strong></dt>

<div class="row">
{% if product_list %}
  {% for product in product_list %}
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 product">
			<div class="product-container">

			<a href='/product/{{ product.product_no }}/'>
				<div class="product-img-block">
					{% if product.product_image.width|div:product.product_image.height > 0.75  %}
						<img src="{{ product.product_image.url }}" style="height:100%;margin-left:-{{product.product_image.width|div:product.product_image.height|mul:360|div:2|sub:135}}px">
					{% else %}
						<img src="{{ product.product_image.url }}" style="width:100%;margin-top:-{{product.product_image.height|div:product.product_image.width|mul:270|div:2|sub:180}}px">
					{% endif %}
				</div>
			</a>

			<div class="product-detail">
				<a href='/product/{{ product.product_no }}/'>
					<p class="product-detail-name">{{ product.product_name }}</p>
					<p class="product-detail-detail">{{ product.product_details }}</p>
				</a>
			</div>

		</div>
		</div>
  {% endfor %}
{% else %}
  <p>No product available at this time.</p>
{% endif %}
</div>

{% endblock %}
