<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- For responsive web-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="static/css/theme.css" rel="stylesheet">
  </head>

  <body>
    <span class="border-top-0">
      <nav class="navbar navbar-expand-lg mb-lg-4 justify-content-between" id="navbar">
        <a class="navbar-brand ml-lg-4" href="#">
          <img src="static/img/logo.png" alt="human-for-hire">
        </a>

        <form class="form-inline">
          <input class="form-control mr-lg-2" type="text" placeholder="Search" aria-label="Search" id="navBarSearchForm">
        </form>

        <ul class="navbar-nav">
          <li>
            <a class="nav-link" href="#"><img src="static/img/user.png" alt="User"></a>
          </li>
          <li>
            <a class="nav-link" href="#"><img src="static/img/carts.png" alt="User"></a>
          </li>
        </ul>
      </nav>
    </span>

    <div class="container">
		<div class="row">
      <div class="card-columns ">
        {% if product_list %}
          {% for card in product_list %}
            <div class="card bg-light">
              <div class="card-header">
                <div class="card-name">{{ card.seller_username }}</div>
              </div>
              <img class="card-img-top" src="{{ card.product_image }}" alt="Card image cap">
              <div class="card-body">
                <div class="card-job">{{ card.product_name }}</div>
              <p class="card-text ">{{ card.product_details }}</</p>
              </div>
              <div class="card-footer text-muted">
                {{ card.date }}
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>No product available at this time.</p>
        {% endif %}
      </div>
		</div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>

</html>
