{% extends 'hello/base.html' %}
{% load mathfilters %}

{% block content %}



<div id="index-headline">
	<h1>Find a worker.</h1>
</div>

<div class="container">
	<label class="form-control-label" for="product_name">Name</label>
	<input class="form-control" type="text" id="product_name"  name="product_name" id="product_name" placeholder="First Name">
</div>

<dt class="recent"><strong>recent posts</strong></dt>

<div class="row">
{% if product_list %}
  {% for product in product_list %}
		<!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 product" style="background:url({{ product.product_image.url }});background-size: 130%;background-position:center no-repeat"> -->
		<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 product">
			<div class="product-container">
			<a href='/product/{{ product.product_no }}/'>
				<div class="product-img-block">
					{% if product.product_image.width|div:product.product_image.height > 0.75  %}
						<img src="{{ product.product_image.url }}" style="height:100%;margin-left:-{{product.product_image.width|div:product.product_image.height|mul:360|div:2|sub:135}}px">
					{% else %}
						<img src="{{ product.product_image.url }}" style="width:100%;margin-top:-{{product.product_image.height|div:product.product_image.width|mul:270|div:2|sub:180}}px">
					{% endif %}
				</div>
				<!-- <img src="{{ product.product_image.url }}" class="product"> -->
			</a>
			<div class="product-detail">
				<a href='/product/{{ product.product_no }}/'>
					<!-- {{product.product_image.width}} {{product.product_image.height}} -->
					<p class="product-detail-name">{{ product.product_name }}</p>
					<p class="product-detail-detail">{{ product.product_details }}</p>
					<!-- <p class="product-detail-start-date">Start: {{ product.start_date|date:'d M. o h:i a'}}</p> -->
					<!-- <p class="product-detail-end-date">End: {{ product.end_date|date:'d M. o h:i a'}}</p> -->
				</a>
			</div>
		</div>
		</div>
  {% endfor %}
{% else %}
  <p>No product available at this time.</p>
{% endif %}
</div>

{% endblock %}
