{% load static %}
<div id="container-navbar-hh">
<div class="container">
<nav class="navbar navbar-light navbar-expand-lg" id="navbar-hh">

    <a class="navbar-brand" href="/">
      <img src="{% static "hello/img/logo.png" %}" alt="human-for-hire" height="50">
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'post:post' %}">New Post</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user.username}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/userprofile">Profile</a>
                  <a class="dropdown-item" href="{% url 'order:manage_work' %}">My Work</a>
                  <a class="dropdown-item" href="{% url 'order:manage_hired' %}">Manage Hired</a>
                  <a class="dropdown-item" href="{% url 'report:create_report' %}">Report</a>
                  <a class="dropdown-item" href="{% url 'signuplogin:logout' %}">Logout</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signuplogin:signup' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signuplogin:login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
</div>
</div>
