{% extends 'hello/base.html' %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-4">
        <img src="{{ product.product_image.url }}" width="100%" \>
    </div>
    <div class="col-12 col-md-8">
        <h2>{{ product.product_name }}</h2><br>
        <h6>Avaliable Days</h6>           {{ product.start_date }} - {{ product.end_date }}<br>
        <h6>Details</h6>              {{ product.product_detail }}<br>
        <h6>Location</h6>             {{ product.location }}<br>
        <h6>Tag</h6>                  {{ product.tag }}<br>
    </div>
</div>
{% endblock %}
