{% extends 'hello/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<h3>Edit Post</h3>
<form method="post" class="col col-lg-5" enctype="multipart/form-data">
  {% csrf_token %}
  {% if form.non_field_errors %}
  <ul>
    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="form-group" id="{{ form.product_image.auto_id }}_container">
    <label class="form-control-label" for="id_{{ form.product_image.name }}">
      {{ form.product_image.label }}
    </label>
    {{ form.product_image|add_class:"form-control" }}
    <div id="{{ form.product_image.auto_id }}_errors">
      {{ form.product_image.errors }}
    </div>
  </div>

  <div class="form-group" id="{{ form.product_name.auto_id }}_container">
    <label class="form-control-label" for="id_{{ form.product_name.name }}">
      {{ form.product_name.label }}
    </label>
    {{ form.product_name|add_class:"form-control" }}
    <div id="{{ form.product_name.auto_id }}_errors">
      {{ form.product_name.errors }}
    </div>
  </div>

  <div class="form-group" id="{{ form.start_date.auto_id }}_container">
    <label class="form-control-label" for="id_{{ form.start_date.name }}">
      {{ form.start_date.label }}
    </label>
    <div class="form-datetime date input-group">
      {{ form.start_date|add_class:"form-control" }}
      <span class="input-group-addon"><i class="fa fa-times"></i></span>
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
    <div id="{{ form.start_date.auto_id }}_errors">
      {{ form.start_date.errors }}
    </div>
  </div>

  <div class="form-group" id="{{ form.end_date.auto_id }}_container">
    <label class="form-control-label" for="id_{{ form.end_date.name }}">
      {{ form.end_date.label }}
    </label>
    <div class="form-datetime date input-group">
      {{ form.end_date|add_class:"form-control" }}
      <span class="input-group-addon"><i class="fa fa-times"></i></span>
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    </div>
    <div id="{{ form.end_date.auto_id }}_errors">
      {{ form.end_date.errors }}
    </div>
  </div>

  <div class="form-group" id="{{ form.product_details.auto_id }}_container">
    <label class="form-control-label" for="id_{{ form.product_details.name }}">
      {{ form.product_details.label }}
    </label>
    {{ form.product_details|add_class:"form-control" }}
    <div id="{{ form.product_details.auto_id }}_errors">
      {{ form.product_details.errors }}
    </div>
  </div>

  <div class="form-group" id="{{ form.location.auto_id }}_container">
    <label class="form-control-label" for="id_{{ form.location.name }}">
      {{ form.location.label }}
    </label>
    {{ form.location|add_class:"form-control" }}
    <div id="{{ form.location.auto_id }}_errors">
      {{ form.location.errors }}
    </div>
  </div>

  <div class="form-group" id="{{ form.price.auto_id }}_container">
    <label class="form-control-label" for="id_{{ form.price.name }}">
      {{ form.price.label }}
    </label>
    {{ form.price|add_class:"form-control" }}
    <div id="{{ form.price.auto_id }}_errors">
      {{ form.price.errors }}
    </div>
  </div>

  <div class="form-group" id="{{ form.tag.auto_id }}_container">
    <label class="form-control-label" for="id_{{ form.tag.name }}">
      {{ form.tag.label }}
    </label>
    {{ form.tag|add_class:"form-control" }}
    <div id="{{ form.tagauto_id }}_errors">
      {{ form.tag.errors }}
    </div>
  </div>

  <button class="btn btn-info hh-btn" type="submit">Submit</button>
</form>

<script src="{% static "hello/js/datetime.js" %}"></script>

{% endblock %}
