body {
    background: #eee;
}

#navbar-hh {
    background-color: #fcdc42 !important;
}

#container-hh {
    margin-top: 50px;
}

.card {
    width: 13.2rem !important;
}

.card-name {
    font-size: 20px;
    color: black;
}

.card-job {
    font-size: 20px;
    font-weight: bold;
}

.card-btn {
    background-color: #0f7173;
    border: 2px solid #2c6969;
}

.card-columns {
    column-count: 5;
}
