@import url('https://fonts.googleapis.com/css?family=Kanit:400,700|Open+Sans:400,700,800');

body {
    background: #eee;
}

* {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Kanit", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 800;
}

#container-navbar-hh {
    background-color: #fcdc42;
}

#container-hh {
    margin-top: 50px;
    margin-bottom: 50px;
}

#index-headline {
    padding-top: 2.5em;
    margin-bottom: 1.5em;
}

.nav-link {
    color: #000 !important;
    font-family: "Open Sans";
    font-weight: 700;
}

.product-img > img {
    border: solid #b2b2b2 1px;
}


.custom-file-control.selected:lang(en)::after {
  content: "" !important;
}

.custom-file {
  overflow: hidden;
}

.custom-file-control {
  white-space: nowrap;
}

.custom-file-input {
    width: 100% !important;
}

.error-message {
    color: red;
}

.custom-file-control {
  white-space: nowrap;
}

.hh-btn {
    background-color: #eee;
    border: 2px solid #D6B937;
    color: #000;
}

.hh-btn:hover {
    background-color: #fcdc42;
    border: 2px solid #D6B937;
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #fcdc42;
}

.form-center > h3, button{
    text-align: center;
}

.slider-handle.custom {
	background: transparent none;
	/* You can customize the handle and set a background image */
}

/* Or display content like unicode characters or fontawesome icons */
.slider-handle.custom::before {
	line-height: 20px;
	font-size: 20px;
	content: '\0041'; /*unicode star character*/
	color: #726204;
}

#navbar-hh {
    padding-left: 0;
    padding-right: 0;
}

.posted-by  {
    font-size: 13px;
    color: #666;
}

.side-margin {
    margin-right: 15px;
    margin-left: 15px;
}

.username {
    font-size: 15px;
    color: #9a9a9a;
}

.star-icon {
    font-size: 20px;
    color: #dad3d3;
    position: relative;
}

.top-margin {
    margin-top: 30px;
}
.star-icon.full:before {
    -webkit-text-stroke: 1.25px rgb(255, 196, 86);
    color: rgb(255, 254, 43);
    content: '\2605';
    position: absolute;
    left: 0;
}

.star-icon.half:before {
    -webkit-text-stroke: 1.25px rgb(255, 196, 86);
    color: rgb(255, 254, 43);
    content: '\2605';
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}

.rate-type {
    font-size: 15px;
}

.error {
    font-size: 15px;
    color: red;
}

.red-long-btn {
    background-color: #e73d0c;
    border: none;
    color: white;
    line-height: 28px;
    width: 220px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.gray-short-btn {
    background-color: #a3a3a3;
    border: none;
    color: white;
    line-height: 28px;
    width: 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.red-short-btn {
    background-color: #ef390a;
    border: none;
    color: white;
    line-height: 28px;
    width: 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.red-long-btn:hover, .gray-short-btn:hover, .red-short-btn:hover {
    background-color: #fcdc42;
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

a:active {
    background-color: transparent;
    outline:0;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.red-long-btn:focus, .gray-short-btn:focus, .red-short-btn:focus{
    background-color: transparent;
    outline:0;
}
