@import url('https://fonts.googleapis.com/css?family=Kanit:400,700|Open+Sans:400,700');

body {
    background: #eee;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", "Kanit", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

#navbar-hh {
    background-color: #fcdc42 !important;
}

#container-hh {
    margin-top: 50px;
}

#index-headline {
    padding-top: 2.5em;
    margin-bottom: 1.5em;
}

.card {
    width: 13.2rem !important;
}

.card-name {
    font-size: 20px;
    color: black;
}

.card-job {
    font-size: 20px;
    font-weight: bold;
}

.card-btn {
    background-color: #0f7173;
    border: 2px solid #2c6969;
}

.card-columns {
    column-count: 4;
}
