{% extends 'base.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div>
      <label class="col-3 col-form-label" for="firstname">First Name</label>
      <input id="firstname" type="text" name="firstname" value="{{firstname}}" required/>
    </div>
    <div>
      <label class="col-3 col-form-label" for="lastname">Last Name</label>
      <input id="lastname" type="text" name="lastname" value="{{lastname}}" required/>
    </div>
    <div>
      <label class="col-3 col-form-label" for="address">Address</label>
      <input id="address" type="text" name="address" value="{{address}}" required/>
    </div>
    <div>
      <label class="col-3 col-form-label" for="telephone">Telephone</label>
      <input id="telephone" type="text" name="telephone" value="{{telephone}}" required/>
    </div>
    <div>
      <label class="col-3 col-form-label" for="email">E-Mail</label>
      <input id="email" type="text" name="email" value="{{email}}" required/>
    </div>
    <div>
      <label class="col-3 col-form-label" for="birthday">Birthday</label>
      <input id="birthday" type="date" name="birthday" value="{{birthday}}" required/>
    </div>
    <div>
      <label class="col-3 col-form-label" for="username">Username</label>
      <input id="username" type="text" name="username" value="{{username}}" required/>
    </div>
    <div>
      <label class="col-3 col-form-label" for="password">Password</label>
      <input id="password" type="password" name="password" required/>
    </div>
    <div>
      <label class="col-3 col-form-label" for="password2">Confirm Password</label>
      <input id="password2" type="text" name="password2" required/>
    </div>
    <input type="submit" value="Register">
  <form>
  <p>{{ error }}</p>
{% endblock %}
