{% extends 'hello/base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-md-center">
  <form method="post" action="{% url 'signupLogin:signup' %}" enctype="multipart/form-data" class="col col-lg-6">
    <h3>Register</h3>
    <br>
    {% for e in error %}
      <p class='error'>{{ e }}</p>
    {% endfor %}

    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-lg-6">
        <label class="form-control-label" for="firstname">First Name</label>
        <input class="form-control" id="firstname" type="text" name="firstname" value="{{firstname}}" required/>
      </div>
      <div class="form-group col-lg-6">
        <label class="form-control-label" for="lastname">Last Name</label>
        <input class="form-control" id="lastname" type="text" name="lastname" value="{{lastname}}" required/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-check col-lg-2">
        <label class="form-control-label" for="gender">Gender</label>
      </div>
      <div class="form-check col-lg-2">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="gender" id="gender" value="male" checked>
          Male
        </label>
      </div>
      <div class="form-check col-lg-2">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="gender" id="gender" value="female">
          Female
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="address">Address</label>
      <textarea class="form-control" id="address" rows="2" type="text" name="address" required>{{address}}</textarea>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="telephone">Telephone</label>
      <input class="form-control" id="telephone" type="text" name="telephone" value="{{telephone}}" maxlength="30" onkeypress="return isNumberKey(event)" required/>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="email">Email Address</label>
      <input class="form-control" id="email" type="text" name="email" value="{{email}}" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,16}" required/>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="bankaccount">Bank Account</label>
      <input class="form-control" id="bankaccount" type="text" name="bankaccount" value="{{bankaccount}}" maxlength="30" onkeypress="return isNumberKey(event)" required/>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="birthday">Birthday</label>
      <div class="form-date date input-group ">
        <input class="form-control" type="text" name="birthday" value="{{birthday}}">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="profile_image">Picture</label>
      <div class="input-group">
        <input type="file" class="custom-file-input" name="profile_image" value="{{profile_image}}" aria-describedby="fileHelp" required>
        <span class="custom-file-control form-control-file" id="profile_image"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="username">Username</label>
        <input class="form-control" id="username" type="text" name="username" value="{{username}}" required/>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="password">Password</label>
      <input class="form-control" id="password" type="password" name="password" required/>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="password2">Confirm Password</label>
      <input class="form-control" id="password2" type="password" name="password2" required/>
    </div>
    <center><button class="btn btn-lg btn-outline-success hh-btn" type="submit" value="Register">Register</button></center>
  </form>
  </div>

<script src="{% static "hello/js/datetime.js" %}"></script>
<script src="../static/js/form-validation.js"></script>

{% endblock %}
