{% extends 'hello/base.html' %}
{% load static %}

{% block content %}
<h3>Manage Hired</h3>
<!-- current work: the start date hasn't come yet -->

<h4 class="manage__header">Pending</h4>
{% if work_list %}
	<div class="row">
	{% for work in work_list %}
		{% if work.status == 0 %}
	    {% include "order/hired_card.html" %}
		{% endif %}
	{% endfor %}
	</div>
{% endif %}

<h4 class="manage__header">Upcoming</h4>
{% if work_list %}
	<div class="row">
	{% for work in work_list %}
		{% if work.status == 1 or work.status == 2 or work.status == 3 %}
	    {% include "order/hired_card.html" %}
		{% endif %}
	{% endfor %}
	</div>
{% endif %}

<!-- past work: the start date has passed -->
<h4 class="manage__header">History</h4>
{% include "order/work_history.html" %}

<script type="text/javascript" src="{% static "order/js/manage_hired.js" %}"></script>
{% endblock %}
