{% extends 'hello/base.html' %}

{% block content %}

<div>
  {% if user_type == 'employee' %}
    <h3>Comfirm Work Done and Rate Employee ({{ name }})</h3>
  {% else %}
    <h3>Comfirm Work Done and Rate Employer ({{ name }})</h3>
  {% endif %}
  <img id="rate-image" src="{{ image.url }}">
  <p id="rate-detail">Detail: {{ detail }}</p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label class="rating-radio" class="checkbox-inline">
      <input type="radio" name="rating" value="0">0</input>
    </label>
    <label class="rating-radio" class="checkbox-inline">
      <input type="radio" name="rating" value="1">1</input>
    </label>
    <label class="rating-radio" class="checkbox-inline">
      <input type="radio" name="rating" value="2">2</input>
    </label>
    <label class="rating-radio" class="checkbox-inline">
      <input type="radio" name="rating" value="3" checked>3</input>
    </label>
    <label class="rating-radio" class="checkbox-inline">
      <input type="radio" name="rating" value="4">4</input>
    </label>
    <label class="rating-radio" class="checkbox-inline">
      <input type="radio" name="rating" value="5">5</input>
    </label>
    <br>
    <button>Submit</button>
  </form>
</div>

{% endblock %}
