{% extends 'hello/base.html' %}
{% load static %}

{% block content %}
<div>
  {% if user_type == 'employee' %}
    <h3>Comfirm Work Done and Rate Employee ({{ name }})</h3>
  {% else %}
    <h3>Comfirm Work Done and Rate Employer ({{ name }})</h3>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="star-rating">
      <span class="star-icon" data-rating="1">★</span>
      <span class="star-icon" data-rating="2">★</span>
      <span class="star-icon" data-rating="3">★</span>
      <span class="star-icon" data-rating="4">★</span>
      <span class="star-icon" data-rating="5">★</span>
      <input type="hidden" name="rating" class="rating-value" value="3">
    </div>
    <button class="red-short-btn">CONFIRM</button> 
  </form>
</div>

<script type="text/javascript" src="{% static "order/js/star_rating.js" %}"></script>
{% endblock %}
