{% load mathfilters %}
<table class="table table-hover table-responsive-sm" id="hh-managework">
	<thead class="thead-dark">
		<tr>
  		<th scope="row">Date</th>
  		<th scope="row">Employee</th>
  		<th scope="row">Descriptions</th>
  		<th scope="row">Price</th>
  		<th scope="row">Rate</th>
  		<th scope="row">Status</th>
		</tr>
	</thead>
	<tbody>
  {% if work_list %}
    {% for work in work_list %}
      {% if work.status == 4 or work.status == 5 or work.status == 6 %}
      <tr>
        <td>{{ work.start_date|date:'d M y' }}</td>
        <td>{{ work.buyer_username.first_name }}</td>
        <td>{{ work.detail }}</td>
        <td>{{ work.price }} THB</td>
        <td class="star">
          {% if work.get_status_display|cut:" " == 'WORKDONE' %}
            {% with work.buyer_rating as filled_star %}
            {% with 5|sub:work.buyer_rating as empty_star %}
              {% if filled_star != 0 %}
                {% for i in "x"|rjust:filled_star %}
                  ★
                {% endfor %}
              {% endif %}
              {% if empty_star != 0 %}
                {% for i in "x"|rjust:empty_star %}
                  ☆
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% endwith %}
          {% endif %}
        </td>
        <!-- Hover to show the button that can click to update status work done -->
        <td>
          <span class="badge manage-status__{{work.get_status_display|cut:" "}}">{{ work.get_status_display }}</span>
        </td>
      </tr>
    {% endif %}
    {% endfor %}
  {% endif %}
	</tbody>
</table>
