<div class="col-lg-4">
	<div class="card border-dark">
		<div class="card-body">
			<h4 class="card-title">{{work.start_date|date:'d M y'}}</h4>
			<p class="card-text">{{work.detail}}</p>
			<div class="row">
				<div class="col-6 managework__buyerdetail">
					<div>
						<p class="name">{{work.buyer_username.first_name}}</p>
						<p class="tel"><i class="fa fa-phone" aria-hidden="true"></i> {{work.buyer_username.profile.telephone}}</p>
					</div>
				</div>
				<div class="col-6">
					<div class="managework__price">
						<span class="price">{{work.price}}</span>
						<span class="thb">THB</span>
					</div>
				</div>
			</div>
		</div>
		<div order="{{work.order_no}}" class="manage-status__{{work.get_status_display|cut:" "}} status-block">{{work.get_status_display}}</div>
	</div>
</div>