body {
  margin: 0;
  padding: 0;
}

.recent {
  margin-bottom: 10px;
}

.product {
  position: relative;
  width: calc(100% - 30px);
  overflow: hidden;
  margin-bottom: 30px;
  max-width: 300px;
}

.product:before {
  content: "";
  display: block;
  padding-top: 133.33%;
}

.product-container {
  width: calc(100% - 30px);
  position:  absolute;
  top: 0;
  bottom: 0;
  border: 1px solid #b2b2b2;
}

.product a {
  color: black;
  text-decoration: none;
}

.product-img-block {
  overflow: hidden;
  height: 100%;
}

.product-detail {
  position: absolute;
  top: calc(74%);
  width: 100%;
  height: 26%;
  background: rgba(250, 250, 250, 0.8);
}

.product-detail p{
  margin: 0;
  padding-left: 8%;
  font-family: "Open Sans", "Kanit", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.product-detail-name {
  font-size: 1.75em;
  font-weight: 700;
}

.product-detail-detail {
  font-size: 1.2em;
}

.product-detail .product-detail-name {
  padding-top: 4%;
  height: 1.6em;
}

/*.product-detail-end-date {
  position: relative;
  left: .5em;
}*/

/*START MANAGE*/
.manage-status__WAITINGFORWORK {
  background-color: #eee;
}

.workdone-hover:hover {
  cursor: pointer;
  background-color: #2db035;
  color: #FFF;
}
.cancel-hover:hover {
  cursor: pointer;
  background-color: #ff3333;
  color: #FFF;
}
.accept-hover:hover {
  cursor: pointer;
  background-color: #fcdc42;
}
.manage-status__ACCEPTED {
  background-color: #fcdc42;
}

.manage-status__TOBEACCEPTED {
  background-color: #fcdc42;
}

.manage-status__WORKDONE {
  background-color: #2db035;
  color: #FFF;
}

.manage-status__WORKDONERATED {
  background-color: #2db035;
  color: #FFF;
}

.manage-status__WORKDONENOTRATED {
  background-color: #2db035;
  color: #FFF;
}

.manage-status__FAILED {
  background-color: #333;
  color: #FFF;
}

.manage-status__CANCELLED {
  background-color: #333;
  color: #FFF;
}

#hh-managework {
  background-color: white;
}

.rate-link {
  height: 100%;
  width: 100%;
}

.status-block {
    font-size: 1.1em;
    text-align: center;
    font-weight: 600;
    padding: 8px;
}

.rate-work {
  color: white;
}

#block_container{
  text-align:center;
}
#bloc1, #bloc2{
  font-size: 14px;
  color: #666;
  display:inline;
}
/*END MANAGE*/

/*START RATING*/
#rate-username {
  font-size: 2em;
  font-weight: 700;
}

#rate-image {
  width: 500px
}
/*END RATING*/